body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(https://preview.redd.it/2d5u2gwhe2wc1.png?auto=webp&s=871f79cd16b7c8e0e36d6c11e350e6d317ef41f2);
    margin: 0;
    padding: 0;
}

.navigation{
    position: fixed;
    display: flex;
    background-color: white;
    width: 100%;
    top: 0;
    justify-content: space-between;
    background-color: rgba(210, 98, 91, 0.9);
}

.logo{
    display: flex;
    align-items: center;
    height: 80px;
    margin-left: 40px;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 100px;
}

.menu a{
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
    font-size: 20px;
    padding: 25px;
}

.menu a:hover{
    background-color: rgba(250, 235, 215, 0.093);
}

/*main*/


/*footer*/
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgb(33, 33, 33);
}

.social-media{
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-media a{
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 25px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px;
    width: 100%;
    max-width: 1700px;
    margin: 0 auto; 
}

.section h2 {
    margin: 20px 0 10px;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 38.73px;
}

.history-content, .awards-content, .songs-content {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
}

.history-content, .awards-content {
    min-height: 376px;
}

.songs-content {
    min-height: 428px;
}

.awards-content {
    flex-direction: row-reverse;
}

.awards-image {
    width: 669px;
    height: 443px;
    top: 689px;
    left: 67px;
    gap: 0px;
    opacity: 0px;

}

.content p, .content ul {
    flex: 1;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 38.73px;
    text-align: left;
}

.content img {
    max-width: 50%; 
    height: auto;
    border-radius: 5px;
}
